div > h2 {
    font-style: italic;
}


h2+p {
    color: red;
}

ul.list > li{
    list-style: none;
    border-bottom-color:grey;
    border: 1px;
    border-bottom-style: solid;
}

a:link{
    color: green;
}

a:link:visited{
color: red;
}

a:link:hover{
    color: pink;
}

li:first-of-type::first-letter{
    font-weight: bold;
font-size: 120%;
}

[title="BCIT homepage"]
{
    background-color: yellow;
}

img {
    float: left;
    
}

.below{
    clear: left;